/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background: #0056b3;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background: url('campuss.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
  min-height: 500px;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.4);
}

.hero h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgba(53, 35, 10, 0.571);
 
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  background:white;
  border: 2px solid white;
  color:blueviolet;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  background: #f4f4f4;
}

.card {
  background:transparent;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 280px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

footer {
  background: #0056b3;
  color: white;
  text-align: center;
  padding: 15px;
}
 
.logo{
  height: auto;
  width: 70px;
  border-radius: 50%;
  object-fit:cover;
  margin-left: 10px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

nav a:hover{
  background:rgb(155, 23, 23) ;
  color:#f4f4f4;
  text-decoration: none;
}
.btn:hover{
background: aquamarine;
color:white;

}

